@using System.Security.Claims;
@model OBarbeiro.Comum.Modelos.PesquisarAgendamentoViewModel

<div class="card">
    <div class="card-header">Agendamento</div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="DataAgendamento" class="control-label">Data Agendamento</label>
                        <input asp-for="DataAgendamento" name="dataAgendamento" id="dataAgendamento" class="form-control" />
                        <span asp-validation-for="DataAgendamento" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="ServidoId" class="control-label">Serviços</label>
                        <select asp-for="ServidoId" asp-items="ViewBag.ServicoEmpresa" class="form-control"></select>
                        <span asp-validation-for="ServidoId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="ProfissionalCpf" class="control-label">Profissionais</label>
                        <select asp-for="ProfissionalCpf" asp-items="ViewBag.ProfissionaisEmpresa" class="form-control"></select>
                        @*<span asp-validation-for="ProfissionalCpf" class="text-danger"></span>*@
                    </div>
                </div>


                <div class="col-2 mt-4">
                    <div class="form-group">
                        <input type="submit" value="Buscar horário" class="btn btn-outline-success salvar" idPesquisa />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />


