@model OBarbeiro.Modelo.Modelos.Agendamento

@{
    ViewData["Title"] = "Agendar";
}

<h4 class="text-lg-start text-success">Agenda Já!</h4>
<hr class="bg-white" />

<div class="col-md-8 justify-content-evenly">
        <form asp-action="Agendar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_Formulario" />
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
